{% extends 'administration/admindash.html' %}
{% block body %}
<div class="container-fluid d-flex justify-content-center ">
            <table class="table table-info mt-5" style="width: 900px;">
        <tr>
            <td>Name</td>
            <td>Feedback</td>
            <td>date</td>
        </tr>
        {% for u in user %}
        <tr>
            <td>{{u.userid.name}}</td>
            <td>{{u.feedback}}</td>
            <td>{{u.createdAt}}</td>   
        </tr>
        {% endfor %}

    </table>
</div>
 {% endblock %}

