{% extends 'administration/admindash.html' %}
{% block body %}
<div class="container-fluid d-flex justify-content-center ">
            <table class="table table-info mt-5" style="width: 900px;">
        <tr>
            <td>Name</td>
            <td>complaint</td>
            <td>date</td>
            <td>replay</td>

        </tr>
        {% for u in user %}
        <tr>       
            <td>{{u.userid.name}}</td>
            <td>{{u.complaint}}</td>
            <td>{{u.createdAt}}</td>
            <form method="post" action="{% url 'send_replay' u.id %}">
                {% csrf_token %}
                
                <td>
                    {% if u.reply == "Pending" %}

                    <input type="text" name="replay">
                    <input type="submit"value="replay">

                    {% else%}
                    {{u.reply}}
                    
                    {%endif%}
                    
            </td> 
            </form>  
        </tr>
        {% endfor %}

    </table>
 
    {% endblock %}