{% extends 'administration/admindash.html' %}
{% block body %}
<div class="container-fluid d-flex justify-content-center ">
            <table class="table table-info mt-5" style="width: 900px;">
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Gender</th>
                    <th>Contact</th>
                    <th>Action</th>
                </tr>
                {% for u in user %}
                    <tr>
                        <td>{{ u.name }}</td>
                        <td>{{ u.email }}</td>
                        <td>{{ u.gender }}</td>
                        <td>{{ u.contactno }}</td>

                        <td>
                            {% if u.loginid.usertype == "user" %}
                            <a href="Reject_user/{{u.loginid.id}}" class="btn btn-danger">Reject</a>
                            {% elif u.loginid.usertype == "rejected" %}
                             <a href="Approve_user/{{u.loginid.id}}" class="btn btn-primary">Approve</a>
                            {% else %}
                             <a href="Approve_user/{{u.loginid.id}}" class="btn btn-primary">Approve</a>
                            <a href="Reject_user/{{u.loginid.id}}" class="btn btn-danger">Reject</a>
                            {% endif %}
                           
                        </td>
                    </tr>
                {% endfor %}
            </table>
            </div>
      {% endblock %}